.create-account-step2 {

    .TestCam {
        background: white;
        padding   : 0 7px;

    }
}

.create-account-step21 {
    .TestCamFace {
        background: white;
        padding   : 0 7px;
    }
}