.Check-Ekyc {
    background         : url('/images/no-image-capture.png');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

    height: 100%;
    width : 100%;

    display        : flex;
    justify-content: center;
    align-items    : center;

    .carousel-root {

        .control-dots,
        .carousel-status {
            display: none !important;
        }

        &.carousel-slider {
            max-height: 208px;
        }

    }

    .carousel .slide img {
        width: auto !important;
    }

    .react-record-webcam__wrapper {

        // position: relative;
        .div-btn-video {
            height : auto;
            width  : 600px;
            z-index: 10;
        }

        .react-record-webcam__video {
            //position: absolute;
            z-index: 1;
        }
    }


    .fa-camera {
        font-size: 15px;
    }

    .title {
        color      : #FFFFFF !important;
        font-size  : 16px !important;
        font-weight: 700 !important;
    }

    .txt-content {
        // color: #FFFFFF;
        width      : 80%;
        padding-top: 10px;
        text-align : center;
        display    : inherit !important;
        margin     : 0 auto;
    }

    .lbl_error {
        color: red;

        .lable_left {
            height: 100%;
        }

        .lable_right {
            height: 100%;
        }
    }

    .img-border {
        height: calc(100vh - 340px);
        width : 600px;
    }

    .img_content {
        width : 100%;
        height: auto;

        .img {
            width: auto;
            width: 100%;
        }

        .img-btn {
            text-align: center;
            position  : absolute;
            width     : 100%;
            bottom    : 0
        }

        video {
            min-width: 100% !important;
            max-width: 100% !important;
            width    : 100% !important;
        }

        .floatR {
            float: right;
        }
    }

}